@import "compass/reset";
@import "compass/css3";
 
body {
    // color: #7F7E7E;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #E5E5E5;
    height: 100%;
    margin: 0;

    header {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 50px; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #FFFFFF; /* Black */
        overflow-x: visible; /* Disable horizontal scroll */

        @media screen and (max-width:450px) {
            // width: 30px; 
        }

        img {
            background-color: #E9AE56;
            height: 40px;
            width: 23px;
            text-align: center;
            padding: 5px 13.5px 5px;
        }

        nav {
            padding-top: 20px;

            a {
                padding: 1.2em 1em;
                text-decoration: none;
                font-size: 10px;
                color: #DEDBDB;
                display: block;
                text-align: center;
                position: relative;

                &.selected {
                    color: #A4A4A4;
                    border-left: 3px solid #E9AE56;
                }
                &:hover {
                    color: #A4A4A4;
                    // border-left: 3px solid #FFD698;
                    .icon-text {
                        visibility: visible;
                    }
                }

                i {font-size: 20px;}

                .icon-text {
                    visibility: hidden;
                    width: 50px;
                    background-color: #A4A4A4;
                    color: #fff;
                    text-align: center;
                    border-radius: 4px;
                    padding: 5px 0;
                    position: absolute;
                    z-index: 1;
                    left: 90%;
                    font-weight: lighter;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 100%;
                        margin-top: -4px;
                        border-width: 4px;
                        border-style: solid;
                        border-color: transparent #A4A4A4 transparent transparent;
                    }
                }
            }
        }
    }

    main {
        margin-left: 50px; /* Same as the width of the sidebar */
        
        display: grid;
        grid-template-columns: 0.8fr 1.2fr;
        grid-template-rows: 0.2fr 0.2fr 0.6fr 3fr;
        gap: 20px 10px;
        grid-template-areas: "title title" "query query" "variant-info variant-annotation" "metadata metadata";
        align-items: stretch;

        height: 100vh; 
        padding: 2em;
        box-sizing: border-box;

        &.region {
            grid-template-rows: 0.2fr 0.2fr 4.4fr;
            gap: 25px;
            grid-template-areas: "title title" "query query" "metadata metadata";
        }

        h1 {
            display: block;
            grid-area: title; 
            font-size: 24px;
            font-weight: lighter;
            padding: 0.2em;
            color: #7F7E7E;
        }

        form { 
            grid-area: query; 
            background-color: white;
            height: 30px;

            display: grid;
            grid-template-columns: 85% 15%;
            grid-template-areas: "query-text query-button";

            #query-text {
                grid-area: query-text;
                color: #7F7E7E;
                border: none;
                font-family: 'IBM Plex Sans', sans-serif;
                font-size: 12px;
                width: 100%;
                padding-left: 10px;
                box-sizing: border-box;
                position: relative;

                &:focus {
                    outline: none;
                }
            }
            #query-button {
                grid-area: query-button;
                background-color: white;
                height: 100%;
                
                color: #7F7E7E;
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: lighter;
                font-size: 12px;
                background-color: white;
                border: none;
                transition-duration: 0.4s;
                cursor: pointer;
                padding: 0;
                width: 100%;
                height: 100%;
                border-left: 0.5px solid #EFEFEF;

                &:hover {
                    background-color: #ECF0F9;
                    font-weight: normal;
                    border-left: none;
                }
            }
        }

        #variant-info { 
            align-self: center;
            grid-area: variant-info; 
        }
        
        #variant-annotation { 
            align-self: center;
            grid-area: variant-annotation; 
        }
        
        #metadata { 
            grid-area: metadata; 
            background-color: white;
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }
        
        .standard-table-title {
            display: inline-block;
            height: 30px;
            width: 100%;
            // border: 1px solid #EFEFEF;
            font-weight: lighter;
            text-align: left;
            font-size: 12px;
            padding: 10px 0 0 10px;
            box-sizing: border-box;
            vertical-align: middle;
            background-color: white;
        }

        .standard-table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;

            tr { 
                height: 30px;
                border: 1px solid #EFEFEF;
            }

            th {
                font-weight: normal;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
                font-family:'IBM Plex Mono', monospace;
                font-size: 10px;
                background-color: #ECF0F9;
            }

            td {
                font-weight: normal;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
                font-family:'IBM Plex Mono', monospace;
                font-size: 10px;
                color: #7F7E7E;
            }

            tbody tr:hover {
                    td {color: black;}
                }
        } 
    }
}