/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #E5E5E5;
  height: 100%;
  margin: 0;
}
/* line 11, ../sass/style.scss */
body header {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 50px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #FFFFFF;
  /* Black */
  overflow-x: visible;
  /* Disable horizontal scroll */
}
/* line 25, ../sass/style.scss */
body header img {
  background-color: #E9AE56;
  height: 40px;
  width: 23px;
  text-align: center;
  padding: 5px 13.5px 5px;
}
/* line 33, ../sass/style.scss */
body header nav {
  padding-top: 20px;
}
/* line 36, ../sass/style.scss */
body header nav a {
  padding: 1.2em 1em;
  text-decoration: none;
  font-size: 10px;
  color: #DEDBDB;
  display: block;
  text-align: center;
  position: relative;
}
/* line 45, ../sass/style.scss */
body header nav a.selected {
  color: #A4A4A4;
  border-left: 3px solid #E9AE56;
}
/* line 49, ../sass/style.scss */
body header nav a:hover {
  color: #A4A4A4;
}
/* line 52, ../sass/style.scss */
body header nav a:hover .icon-text {
  visibility: visible;
}
/* line 57, ../sass/style.scss */
body header nav a i {
  font-size: 20px;
}
/* line 59, ../sass/style.scss */
body header nav a .icon-text {
  visibility: hidden;
  width: 50px;
  background-color: #A4A4A4;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 90%;
  font-weight: lighter;
}
/* line 72, ../sass/style.scss */
body header nav a .icon-text::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -4px;
  border-width: 4px;
  border-style: solid;
  border-color: transparent #A4A4A4 transparent transparent;
}
/* line 87, ../sass/style.scss */
body main {
  margin-left: 50px;
  /* Same as the width of the sidebar */
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 0.2fr 0.2fr 0.6fr 3fr;
  gap: 20px 10px;
  grid-template-areas: "title title" "query query" "variant-info variant-annotation" "metadata metadata";
  align-items: stretch;
  height: 100vh;
  padding: 2em;
  box-sizing: border-box;
}
/* line 101, ../sass/style.scss */
body main.region {
  grid-template-rows: 0.2fr 0.2fr 4.4fr;
  gap: 25px;
  grid-template-areas: "title title" "query query" "metadata metadata";
}
/* line 107, ../sass/style.scss */
body main h1 {
  display: block;
  grid-area: title;
  font-size: 24px;
  font-weight: lighter;
  padding: 0.2em;
  color: #7F7E7E;
}
/* line 116, ../sass/style.scss */
body main form {
  grid-area: query;
  background-color: white;
  height: 30px;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-areas: "query-text query-button";
}
/* line 125, ../sass/style.scss */
body main form #query-text {
  grid-area: query-text;
  color: #7F7E7E;
  border: none;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  position: relative;
}
/* line 136, ../sass/style.scss */
body main form #query-text:focus {
  outline: none;
}
/* line 140, ../sass/style.scss */
body main form #query-button {
  grid-area: query-button;
  background-color: white;
  height: 100%;
  color: #7F7E7E;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: lighter;
  font-size: 12px;
  background-color: white;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 0;
  width: 100%;
  height: 100%;
  border-left: 0.5px solid #EFEFEF;
}
/* line 158, ../sass/style.scss */
body main form #query-button:hover {
  background-color: #ECF0F9;
  font-weight: normal;
  border-left: none;
}
/* line 166, ../sass/style.scss */
body main #variant-info {
  align-self: center;
  grid-area: variant-info;
}
/* line 171, ../sass/style.scss */
body main #variant-annotation {
  align-self: center;
  grid-area: variant-annotation;
}
/* line 176, ../sass/style.scss */
body main #metadata {
  grid-area: metadata;
  background-color: white;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
/* line 184, ../sass/style.scss */
body main .standard-table-title {
  display: inline-block;
  height: 30px;
  width: 100%;
  font-weight: lighter;
  text-align: left;
  font-size: 12px;
  padding: 10px 0 0 10px;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: white;
}
/* line 198, ../sass/style.scss */
body main .standard-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}
/* line 203, ../sass/style.scss */
body main .standard-table tr {
  height: 30px;
  border: 1px solid #EFEFEF;
}
/* line 208, ../sass/style.scss */
body main .standard-table th {
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 10px;
  background-color: #ECF0F9;
}
/* line 218, ../sass/style.scss */
body main .standard-table td {
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 10px;
  color: #7F7E7E;
}
/* line 229, ../sass/style.scss */
body main .standard-table tbody tr:hover td {
  color: black;
}
